<h1>Informacion del sistema</h1>

<h3>Argumentos de entrada: <strong>{{argEntrada}}</strong></h3>
<h3>Nombre de la plataforma: <strong>{{plataforma}}</strong></h3>
<h3>Version de Node: <strong>{{nodeVer}}</strong></h3>
<h3>Memoria total reservada: <strong>{{rss}}</strong></h3>
<h3>Path de ejecucion: <strong>{{execPath}}</strong></h3>
<h3>Process id: <strong>{{processId}}</strong></h3>
<h3>Carpeta del proyecto: <strong>{{carpetaProyect}}</strong></h3>
<h3>Numero de CPUs: <strong>{{numCPUs}}</strong></h3>